@import url("https://fonts.googleapis.com/css2?family=Jost&family=Redressed&family=Varela+Round&display=swap");

body {
  background-color: black;
  color: white;
}
.header_div {
  border-radius: 100px 15px 15px 100px;
  width: 420px;
  height: 180px;
  position: absolute;
  left: 30px;
  top: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.header_div:hover {
  width: 420px;
  height: 180px;
  background: linear-gradient(to left, #f39c12, white);
}
.logo_image {
  height: 170px;
  width: 170px;
  position: relative;
  left: 8px;
  top: 5px;
  bottom: 10px;
  margin-top: 0%;
  margin-left: 0%;
  border: none;
  border-radius: none;
  transition: none;
}
.app_title {
  position: relative;
  bottom: 80px;
  left: 20px;
  font-size: 60px;
  color: black;
}
.app_title_bottom_part {
  position: relative;
  bottom: 80px;
  left: 198px;
  word-spacing: 15px;
  letter-spacing: 9px;
  font-size: 23px;
  color: black;
}

nav {
  display: flex;
  margin-left: 50%;
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.nav_elements {
  margin-left: 50px;
  border-radius: 80px;
  background-color: #f39c12;
  padding: 8px 28px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
}
.nav_elements:hover {
  background: linear-gradient(to right, #f39c12, white);
  color: black;
}
.main_container_in_home {
  /* background-color: rgb(248, 201, 193); */
  position: relative;
  top: 190px;
}
.pavan_image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  left: 300px;
  background: linear-gradient(to top, #f39c12, white);
  border: 8px solid rgb(0, 0, 0);
  cursor: pointer;
}
.pavan_image:hover {
  background: linear-gradient(to right, #f39c12, white);
  /* border: 8px solid #ebae4d; */
}
.name_text {
  color: white;
  font-size: 80px;
  word-spacing: 10px;
  font-weight: 600;
  position: relative;
  bottom: 150px;
  letter-spacing: 6px;
  margin-left: 42%;
}
.about_me_text_in_home_page {
  font-size: 40px;
  position: absolute;
  color: black;
  -webkit-text-stroke: 0vw rgb(0, 0, 0);
  left: 42%;
  bottom: 40%;
}
.about_me_text_in_home_page::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  border-right: 2px solid #f39c12;
  -webkit-text-stroke: 0vw rgb(2, 2, 2);
  overflow: hidden;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.contact_me_container {
  position: absolute;
  top: 68%;
  left: 96%;
}
.github_image {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  top: 10px;
  /* position: absolute; */
}
.LinkedIn_image {
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
  /* position: absolute; */
}
.twitter_image {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  position: relative;
  top: 40px;
  /* position: absolute; */
}
.facebook_imgae {
  width: 50px;
  height: 50px;
  position: relative;
  top: 60px;
  /* position: absolute; */
}
